/* Common Layout */

.container{
  background-color: silver;
  display: flex;
}

/* header */
.appHeader{
  background: yellow;
}

/* navigation */
.appNavigation{
  background: orange;
}

/* main */
.appMain{
  background: blue;
  display: flex;
}
/* book */
.book{
  background-color: pink;
}
/* news */
.news{
  background-color: tan;
}
/* board */
.board{
  background-color: teal;
}
/* favorite */
.favorite{
  background-color: tomato;
}
/* twitter */
.twitter{
  background-color: aqua;
}

/* footer */
.appFooter{
  background: lime;
}