/* Common Layout */
/* 기본 box-siizng 설정 */
*, *::before, *::after{
  box-sizing: border-box;
}

.container{
  background-color: silver;
  display: flex;
}

/* 멤버 서비스 */
.memberOnly{
  padding-top: 2px;
  padding-bottom: 2px;
}
.memberOnly li{
  display: inline-block;
  font-size: 0.5em 1ems;
}

/* navigation */
.appNavigation{
  background: orange;
}

/* main */
.appMain{
  background: blue;
  display: flex;
}
/* book */
.book{
  background-color: pink;
}
/* news */
.news{
  background-color: tan;
}
/* board */
.board{
  background-color: teal;
}
/* favorite */
.favorite{
  background-color: tomato;
}
/* twitter */
.twitter{
  background-color: aqua;
}

/* footer */
.appFooter{
  background: lime;
}